/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Fondo de pantalla */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}

/* Contenedor del login */
.login-container {
    background: #ffffff;
    padding: 35px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Título */
.login-container h2 {
    margin-bottom: 20px;
    color: #2c3e50;
}


.login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: 0.2s;
}

.login-container input:focus {
    outline: none;
    border-color: #2a5298;
}


.login-container button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #2a5298;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.login-container button:hover {
    background: #1e3c72;
}


#error {
    margin-top: 15px;
    color: red;
    font-size: 14px;
}
